# 서울시내버스 운행시간 & 운행횟수 데이터셋 분석

In [ ]:
import os, shutil
from glob import glob
from zipfile import ZipFile

import numpy as np
import pandas as pd

from google.colab.data_table import DataTable
DataTable.max_columns = 50

In [ ]:
def read_csv(path, encoding='cp949'):
    df = pd.read_csv(path, encoding=encoding)
    display(df.head())
    print('shape:', df.shape)
    return df

def read_excel(path):
    df = pd.read_excel(path)
    df.columns = df.columns.map(lambda x: x.replace('\n', ''))
    display(df.head())
    print('shape:', df.shape)
    return df

# 1.Gdrive -> Colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
shutil.copy('/content/drive/MyDrive/서울시내버스공모전/데이터분석/데이터분석/data/서울버스구간별운행속도/final.csv',
            '/content/data/final.csv')

FileNotFoundError: ignored

In [ ]:
shutil.copy('/content/drive/MyDrive/서울시내버스공모전/데이터분석/데이터분석/data/서울버스구간별운행속도/운행횟수_202210_202303/tpss_sta_route_hturn_202210.zip',
            '/content/data/zips/tpss_sta_route_hturn_202210.zip')
shutil.copy('/content/drive/MyDrive/서울시내버스공모전/데이터분석/데이터분석/data/서울버스구간별운행속도/운행횟수_202210_202303/tpss_sta_route_hturn_202211.zip',
            '/content/data/zips/tpss_sta_route_hturn_202211.zip')
shutil.copy('/content/drive/MyDrive/서울시내버스공모전/데이터분석/데이터분석/data/서울버스구간별운행속도/운행횟수_202210_202303/tpss_sta_route_hturn_202212.zip',
            '/content/data/zips/tpss_sta_route_hturn_202212.zip')

# shutil.copy('/content/drive/MyDrive/서울시내버스공모전/데이터분석/data/서울버스구간별운행속도/final.csv',
#             '/content/data/final.csv')
# shutil.copy('/content/drive/MyDrive/서울시내버스공모전/데이터분석/data/서울버스구간별운행속도/master/bus-station-master.csv',
#             '/content/data/master/bus-station-master.csv')

# for file in glob('/content/data/zips/*'):
#     ZipFile(file).extractall('/content/data/운행횟수/')

FileNotFoundError: ignored

In [ ]:
shutil.copytree('/content/drive/MyDrive/서울시내버스공모전/데이터분석/data/', '/content/data/운행횟수_zips')

In [ ]:
shutil.copytree('/content/drive/MyDrive/서울시내버스공모전/데이터분석/data/서울버스구간별운행속도/운행시간_202210_202303', '/content/data/운행시간_zips')
shutil.copytree('/content/drive/MyDrive/서울시내버스공모전/데이터분석/data/서울버스구간별운행속도/운행횟수_202210_202303', '/content/data/운행횟수_zips')
shutil.copytree('/content/drive/MyDrive/서울시내버스공모전/데이터분석/data/서울버스구간별운행속도/master', '/content/data/master')

shutil.copy('/content/drive/MyDrive/서울시내버스공모전/데이터분석/data/서울버스구간별운행속도/final.csv',
            '/content/data/final.csv')
shutil.copy('/content/drive/MyDrive/서울시내버스공모전/데이터분석/data/서울버스구간별운행속도/master/bus-station-master.csv',
            '/content/data/master/bus-station-master.csv')

for file in glob('/content/data/운행시간_zips/*'):
    ZipFile(file).extractall('/content/data/운행시간')

for file in glob('/content/data/운행횟수_zips/*'):
    ZipFile(file).extractall('/content/data/운행횟수')

# 파일 이상함 -> 제거
!rm -f data/운행시간/tpss_route_section_speedh_2022.10.24-10.30.csv
!rm -f data/운행횟수/tpss_sta_route_hturn_2023.01.02-01.08.csv

# 2.데이터 불러오기

## 1) master

In [ ]:
station_emd_master = pd.read_csv('data/master/bus-station-master.csv')
display(station_emd_master.head())
display(station_emd_master.shape)

     STTN_ID  ARS_ID          정류소명  행정구  행정동          경도         위도
0  100000379    1008  서울역사박물관.경희궁앞  종로구  사직동  126.970442  37.569336
1  100000380    1007  서울역사박물관.경희궁앞  종로구  사직동  126.970420  37.569098
2  100000384    1009           광화문  종로구  사직동  126.975241  37.570051
3  100000018    1113    사직단.어린이도서관  종로구  사직동  126.968021  37.575113
4  100000019    1114       사직동주민센터  종로구  사직동  126.971318  37.576090

(10365, 7)

In [ ]:
bus_info = read_excel('data/master/시내버스인가현황.xlsx')

,업체명,노선번호,유형,기점,종점,인가대수,운행대수,예비대수,인가거리,운행시간,총운행횟수,최소,최대,첫차시간,막차시간
0,북부운수,1,순환,남산예장버스환승주차장,남산예장버스환승주차장,12,10,2,16.00,60,120,7,10,0630,2300
1,한성여객,100,간선,하계동,용산구청,30,28,2,57.09,231,112,8,12,0400,2230
2,동아운수,101,간선,우이동,서소문,23,22,1,37.81,170,119,5,11,0400,2300
3,한성운수,101,간선,우이동,서소문,9,8,1,37.81,165,41,6,12,0400,2300
4,삼화상운,102,간선,상계주공7단지,동대문,2,2,0,30.20,126,14,8,12,0400,2310

shape: (436, 15)

In [ ]:
route_master = read_csv('data/master/서울시노선마스터.csv')

       노선_ID      노선_명칭 노선_유형   거리
0  241461015      김포16A    경기  0.0
1  241461005     김포16-1    경기  0.0
2  241461002       김포16    경기  0.0
3  241449011  양주15-1구파발    경기  0.0
4  241449007   양주15-1막차    경기  0.0

shape: (1274, 4)

In [ ]:
station_master = read_csv('data/master/서울시정류장마스터.csv')

      정류장_ID     정류장_명칭 정류장_유형   정류장_번호          위도         경도 버스도착정보안내기_설치_여부
0  717104358  계수사거리(경유)  가상정류장      0.0  126.817473  37.452473           미설치
1  500000288      행사장입구   마을버스  25965.0  126.691556  37.321742           미설치
2  500000287      행사장입구   마을버스  25095.0  126.691728  37.321942           미설치
3  500000286      아남중전기   일반차로  25963.0  126.710485  37.319934           미설치
4  500000285         3Z   일반차로  25964.0  126.707130  37.320566           미설치

shape: (70855, 7)

In [ ]:
route_node_master = read_csv('data/master/서울시노선정류장마스터.csv')

       노선_ID     정류장_ID  링크_구간거리(m)  정류장_순서
0  241461015  232000857       193.0       3
1  241461015  232000856       203.0      18
2  241461015  232000855       123.0       2
3  241461015  232000854       177.0      19
4  241461015  232000853         0.0       1

shape: (118180, 4)

## 2) trip_time

In [ ]:
trip_time_list = [pd.read_csv(csv, encoding='cp949') for csv in glob('data/운행시간/*')]
len(trip_time_list)

22

In [ ]:
trip_time_all = pd.concat(trip_time_list, axis=0)
display(trip_time_all.head())
display(trip_time_all.shape)

,기준_날짜,노선_ID,출발_정류장_ID,도착_정류장_ID,운행시간,운행시간_00시,운행시간_01시,운행시간_02시,운행시간_03시,운행시간_04시,...,운행시간_16시,운행시간_17시,운행시간_18시,운행시간_19시,운행시간_20시,운행시간_21시,운행시간_22시,운행시간_23시,출발_정류장_순서,도착_정류장_순서
0,20230109,100000020,100000416,100000417,187.0,0.0,0.0,0.0,0.0,0.0,...,185.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3,4
1,20230109,100000020,100000417,100000418,129.0,0.0,0.0,0.0,0.0,0.0,...,115.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,5
2,20230109,100000020,100000415,100000416,134.0,0.0,0.0,0.0,0.0,0.0,...,98.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,3
3,20230109,100000020,100000419,100000415,64.0,0.0,0.0,0.0,0.0,0.0,...,79.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,2
4,20230109,100100001,101000106,101000149,56.0,0.0,0.0,0.0,0.0,0.0,...,56.0,48.0,57.0,61.0,54.0,53.0,51.0,52.0,7,8

(16842557, 31)

## 3) trip_turn

In [ ]:
trip_turn_list = [pd.read_csv(csv, encoding='cp949') for csv in glob('data/운행횟수/*')]

In [ ]:
trip_turn_all = pd.concat(trip_turn_list, axis=0)
display(trip_turn_all.head())
display(trip_turn_all.shape)

,기준_날짜,노선_ID,정류장_ID,버스운행횟수,버스운행횟수_00시,버스운행횟수_01시,버스운행횟수_02시,버스운행횟수_03시,버스운행횟수_04시,버스운행횟수_05시,...,버스운행횟수_19시,버스운행횟수_20시,버스운행횟수_21시,버스운행횟수_22시,버스운행횟수_23시,정류장_순서,노선명,정류장_ARS,정류장명,버스운행횟수_일
0,20230116,0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20230116,0,151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20230116,0,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20230116,0,153.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20230116,0,154.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

(12983690, 33)

## 3) final.csv

In [ ]:
data = read_csv('data/final.csv', encoding=None)

,버스정류장ARS번호,longitude,latitude,역명,17시승차총승객수,17시하차총승객수,18시승차총승객수,18시하차총승객수,19시승차총승객수,19시하차총승객수,정류소,퇴근시간대승차총승객수,퇴근시간대하차총승객수
0,18001,126.898666,37.475364,문성초등학교,39017,37362,46484,45903,26995,25860,문성초등학교(18001),112496,109125
1,18002,126.898330,37.474034,문성초등학교,50940,112393,58844,128448,41790,102818,문성초등학교(18002),151574,343659
2,18003,126.898083,37.469136,금천우체국,152947,62516,208066,66689,137305,47193,금천우체국(18003),498318,176398
3,18004,126.898003,37.470136,금천우체국,84479,107696,105706,144274,85084,123175,금천우체국(18004),275269,375145
4,18005,126.897763,37.464175,말미고개,38576,33767,42061,35956,27406,23906,말미고개(18005),108043,93629

shape: (156, 13)

# 2.전처리

## 1) 평일 추출

In [ ]:
trip_time_all['날짜'] = pd.to_datetime(trip_time_all['기준_날짜'].astype(str))
trip_time_all['요일'] = trip_time_all['날짜'].dt.dayofweek

# 평일(월 ~ 금)
trip_time_all = trip_time_all.loc[trip_time_all['요일'].between(0, 4)]
trip_time_all.shape

(12014190, 33)

In [ ]:
trip_turn_all['날짜'] = pd.to_datetime(trip_turn_all['기준_날짜'].astype(str))
trip_turn_all['요일'] = trip_turn_all['날짜'].dt.dayofweek

# 평일(월 ~ 금)
trip_turn_all = trip_turn_all.loc[trip_turn_all['요일'].between(0, 4)]
trip_turn_all.shape

(9286438, 35)

# 3.데이터 분석

## 1) trip_turn 분석

In [ ]:
trip_turn_all.head()

,기준_날짜,노선_ID,정류장_ID,버스운행횟수,버스운행횟수_00시,버스운행횟수_01시,버스운행횟수_02시,버스운행횟수_03시,버스운행횟수_04시,버스운행횟수_05시,...,버스운행횟수_21시,버스운행횟수_22시,버스운행횟수_23시,정류장_순서,노선명,정류장_ARS,정류장명,버스운행횟수_일,날짜,요일
0,20230116,0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16,0
1,20230116,0,151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16,0
2,20230116,0,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16,0
3,20230116,0,153.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16,0
4,20230116,0,154.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16,0

In [ ]:
trip_turn_all['버스운행횟수_17_18시'] = trip_turn_all['버스운행횟수_17시'] + trip_turn_all['버스운행횟수_18시']
trip_turn_all

,기준_날짜,노선_ID,정류장_ID,버스운행횟수,버스운행횟수_00시,버스운행횟수_01시,버스운행횟수_02시,버스운행횟수_03시,버스운행횟수_04시,버스운행횟수_05시,...,버스운행횟수_22시,버스운행횟수_23시,정류장_순서,노선명,정류장_ARS,정류장명,버스운행횟수_일,날짜,요일,버스운행횟수_17_18시
0,20230116,0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16,0,NaN
1,20230116,0,151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16,0,NaN
2,20230116,0,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16,0,NaN
3,20230116,0,153.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16,0,NaN
4,20230116,0,154.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-16,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506531,20221230,241461015,115000320.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.0,김포16A,16434.0,개화역광역환승센터,2.0,2022-12-30,4,NaN
2506532,20221230,241461015,232000842.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.0,김포16A,35789.0,우방아이유쉘,3.0,2022-12-30,4,NaN
2506533,20221230,241461015,232000853.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,김포16A,35800.0,동일하이빌,2.0,2022-12-30,4,NaN
2506534,20221230,241461015,232000356.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,김포16A,41004.0,고촌역,3.0,2022-12-30,4,NaN
2506535,20221230,241461015,115000321.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11.0,김포16A,16435.0,개화역광역환승센터,1.0,2022-12-30,4,NaN

In [ ]:
trip_turn_all.columns

Index(['기준_날짜', '노선_ID', '정류장_ID', '버스운행횟수', '버스운행횟수_00시', '버스운행횟수_01시',
       '버스운행횟수_02시', '버스운행횟수_03시', '버스운행횟수_04시', '버스운행횟수_05시', '버스운행횟수_06시',
       '버스운행횟수_07시', '버스운행횟수_08시', '버스운행횟수_09시', '버스운행횟수_10시', '버스운행횟수_11시',
       '버스운행횟수_12시', '버스운행횟수_13시', '버스운행횟수_14시', '버스운행횟수_15시', '버스운행횟수_16시',
       '버스운행횟수_17시', '버스운행횟수_18시', '버스운행횟수_19시', '버스운행횟수_20시', '버스운행횟수_21시',
       '버스운행횟수_22시', '버스운행횟수_23시', '정류장_순서', '노선명', '정류장_ARS', '정류장명',
       '버스운행횟수_일', '날짜', '요일', '버스운행횟수_17_18시'],
      dtype='object')

In [ ]:
trip_turn_all.groupby(by=['정류장_ID', '정류장명', '정류장_ARS'], as_index=False)[['버스운행횟수_17시', '버스운행횟수_18시', '버스운행횟수_17_18시']].

In [ ]:
trip_turn.info()

NameError: ignored

In [ ]:
route_target_nm = '600'
route_target_id = route_master.loc[route_master['노선_명칭'] == route_target_nm, '노선_ID'].values[0]

date = 20230306
trip_turn_target = trip_turn.loc[trip_turn['노선_ID'] == route_target_id]
trip_turn_target_day = trip_turn_target.loc[trip_turn_target['기준_날짜'] == date]
trip_turn_target_day.sort_values(by='정류장_순서', inplace=True)
trip_turn_target_day

<ipython-input-18-58b3855fa066>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trip_turn_target_day.sort_values(by='정류장_순서', inplace=True)

,기준_날짜,노선_ID,정류장_ID,버스운행횟수,버스운행횟수_00시,버스운행횟수_01시,버스운행횟수_02시,버스운행횟수_03시,버스운행횟수_04시,버스운행횟수_05시,...,버스운행횟수_15시,버스운행횟수_16시,버스운행횟수_17시,버스운행횟수_18시,버스운행횟수_19시,버스운행횟수_20시,버스운행횟수_21시,버스운행횟수_22시,버스운행횟수_23시,정류장_순서
7092,20230306,100100085,116000195.0,162.0,NaN,NaN,NaN,1.0,7.0,9.0,...,8.0,9.0,8.0,8.0,9.0,9.0,9.0,8.0,5.0,1.0
7077,20230306,100100085,116000099.0,166.0,NaN,NaN,NaN,NaN,9.0,10.0,...,8.0,9.0,7.0,9.0,9.0,9.0,9.0,8.0,5.0,2.0
7075,20230306,100100085,116000097.0,166.0,NaN,NaN,NaN,NaN,9.0,9.0,...,9.0,9.0,7.0,9.0,9.0,9.0,8.0,9.0,5.0,3.0
7073,20230306,100100085,116000095.0,166.0,NaN,NaN,NaN,NaN,9.0,9.0,...,9.0,9.0,7.0,8.0,9.0,10.0,8.0,8.0,6.0,4.0
7071,20230306,100100085,116000093.0,167.0,NaN,NaN,NaN,NaN,9.0,9.0,...,9.0,9.0,7.0,8.0,9.0,9.0,9.0,8.0,6.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7074,20230306,100100085,116000096.0,168.0,8.0,7.0,NaN,NaN,NaN,NaN,...,9.0,8.0,9.0,8.0,7.0,9.0,10.0,9.0,10.0,67.0
7076,20230306,100100085,116000098.0,168.0,9.0,7.0,NaN,NaN,NaN,NaN,...,8.0,9.0,9.0,7.0,7.0,10.0,9.0,10.0,9.0,68.0
7091,20230306,100100085,116000194.0,167.0,9.0,7.0,NaN,NaN,NaN,NaN,...,8.0,9.0,9.0,7.0,7.0,10.0,9.0,9.0,10.0,69.0
7093,20230306,100100085,116000195.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0
7115,20230306,100100085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999.0

Warning: Total number of columns (29) exceeds max_columns (20) limiting to first (20) columns.

## 2) trip_time 분석

#### a) 특정 버스 하루만 살펴보기

In [ ]:
route_target_nm = '600'
route_target_id = route_master.loc[route_master['노선_명칭'] == route_target_nm, '노선_ID'].values[0]

date = 20230306
trip_time_target = trip_time_target.loc[trip_time_target['노선_ID'] == route_target_id]
trip_time_target_day = trip_time_target.loc[trip_time_target['기준_날짜'] == date].copy()
trip_time_target_day.sort_values(by='도착_정류장_순서', inplace=True)
trip_time_target_day

,기준_날짜,노선_ID,출발_정류장_ID,도착_정류장_ID,운행시간,운행시간_00시,운행시간_01시,운행시간_02시,운행시간_03시,운행시간_04시,...,운행시간_18시,운행시간_19시,운행시간_20시,운행시간_21시,운행시간_22시,운행시간_23시,출발_정류장_순서,도착_정류장_순서,운행시간_출근,운행시간_퇴근
6151,20230306,100100085,116000195,116000099,76.0,0.0,0.0,0.0,0.0,71.0,...,86.0,82.0,82.0,78.0,80.0,70.0,1,2,72.75,82.00
6170,20230306,100100085,116000099,116000097,99.0,0.0,0.0,0.0,0.0,95.0,...,97.0,103.0,97.0,107.0,106.0,92.0,2,3,95.50,101.00
6140,20230306,100100085,116000097,116000095,54.0,0.0,0.0,0.0,0.0,53.0,...,52.0,53.0,53.0,53.0,54.0,43.0,3,4,56.00,52.75
6129,20230306,100100085,116000095,116000093,50.0,0.0,0.0,0.0,0.0,45.0,...,46.0,52.0,39.0,56.0,48.0,53.0,4,5,65.75,48.25
6126,20230306,100100085,116000093,116000448,225.0,0.0,0.0,0.0,0.0,170.0,...,215.0,193.0,183.0,201.0,192.0,212.0,5,6,274.75,198.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6146,20230306,100100085,116000088,116000156,78.0,55.0,54.0,0.0,0.0,0.0,...,76.0,89.0,81.0,82.0,75.0,70.0,64,65,83.25,82.00
6150,20230306,100100085,116000156,116000094,60.0,47.0,46.0,0.0,0.0,0.0,...,55.0,59.0,65.0,60.0,59.0,58.0,65,66,64.50,59.75
6139,20230306,100100085,116000094,116000096,57.0,51.0,48.0,0.0,0.0,0.0,...,63.0,48.0,50.0,50.0,57.0,50.0,66,67,69.25,52.75
6169,20230306,100100085,116000096,116000098,135.0,106.0,110.0,0.0,0.0,0.0,...,147.0,130.0,148.0,137.0,155.0,134.0,67,68,148.25,140.50
6137,20230306,100100085,116000098,116000194,39.0,35.0,39.0,0.0,0.0,0.0,...,57.0,34.0,36.0,36.0,36.0,44.0,68,69,34.25,40.75

In [ ]:
df = pd.DataFrame(trip_time_target_day['운행시간'])
df['운행시간_평균1'] = trip_time_target_day.iloc[:, 5:29].mean(axis=1)
df['운행시간_평균2'] = trip_time_target_day.iloc[:, 5:29].sum(axis=1) / 24

temp = trip_time_target_day.iloc[:, 5:29].values
temp[temp == 0] = np.nan
df['운행시간_평균3'] = np.nanmean(temp, axis=1)
df

       운행시간    운행시간_평균1    운행시간_평균2  운행시간_평균3
6151   76.0   63.208333   63.208333     75.85
6170   99.0   82.208333   82.208333     98.65
6140   54.0   44.958333   44.958333     53.95
6129   50.0   41.916667   41.916667     50.30
6126  225.0  187.625000  187.625000    225.15
...     ...         ...         ...       ...
6146   78.0   64.750000   64.750000     77.70
6150   60.0   49.708333   49.708333     59.65
6139   57.0   47.458333   47.458333     56.95
6169  135.0  112.291667  112.291667    134.75
6137   39.0   32.750000   32.750000     39.30

[68 rows x 4 columns]

In [ ]:
trip_time_target_day.columns

Index(['기준_날짜', '노선_ID', '출발_정류장_ID', '도착_정류장_ID', '운행시간', '운행시간_00시',
       '운행시간_01시', '운행시간_02시', '운행시간_03시', '운행시간_04시', '운행시간_05시', '운행시간_06시',
       '운행시간_07시', '운행시간_08시', '운행시간_09시', '운행시간_10시', '운행시간_11시', '운행시간_12시',
       '운행시간_13시', '운행시간_14시', '운행시간_15시', '운행시간_16시', '운행시간_17시', '운행시간_18시',
       '운행시간_19시', '운행시간_20시', '운행시간_21시', '운행시간_22시', '운행시간_23시', '출발_정류장_순서',
       '도착_정류장_순서', '정류장_ID', '링크_구간거리(m)', '정류장_순서'],
      dtype='object')

#### a) 특정 버스 모든 날짜

In [ ]:
route_target_nm = '600'
route_target_id = route_master.loc[route_master['노선_명칭'] == route_target_nm, '노선_ID'].values[0]

trip_time = trip_time_all.loc[trip_time_all['노선_ID'] == route_target_id].copy()

# 날짜별 정류장구간별 운행시간_출근, 운행시간_퇴근 평균운행시간 계산
trip_time['운행시간_출근'] = trip_time.loc[:, ['운행시간_06시', '운행시간_07시', '운행시간_08시', '운행시간_09시']].mean(axis=1)
trip_time['운행시간_퇴근'] = trip_time.loc[:, ['운행시간_18시', '운행시간_19시', '운행시간_20시', '운행시간_21시']].mean(axis=1)
trip_time

# 전구간날짜 평균
trip_time_mean = trip_time.groupby(by=['노선_ID', '출발_정류장_ID', '도착_정류장_ID', '출발_정류장_순서', '도착_정류장_순서'], as_index=False)[['운행시간_출근', '운행시간_퇴근']].mean()
trip_time_mean.sort_values(by='도착_정류장_순서', ignore_index=True, inplace=True)
trip_time_mean

,노선_ID,출발_정류장_ID,도착_정류장_ID,출발_정류장_순서,도착_정류장_순서,운행시간_출근,운행시간_퇴근
0,100100085,116000195,116000099,1,2,80.624419,78.875581
1,100100085,116000099,116000097,2,3,101.909302,92.879070
2,100100085,116000097,116000095,3,4,52.827907,52.275581
3,100100085,116000095,116000093,4,5,40.956977,45.147674
4,100100085,116000093,116000448,5,6,227.572093,198.677907
...,...,...,...,...,...,...,...
65,100100085,116000088,116000156,64,65,76.601163,78.241860
66,100100085,116000156,116000094,65,66,59.483721,58.430233
67,100100085,116000094,116000096,66,67,60.781395,56.273256
68,100100085,116000096,116000098,67,68,139.097674,130.358140
69,100100085,116000098,116000194,68,69,37.011628,39.316279

In [ ]:
route_node = route_node_master.loc[route_node_master['노선_ID'] == route_target_id].copy()
route_node.sort_values(by='정류장_순서', ignore_index=True, inplace=True)
route_node

        노선_ID     정류장_ID  링크_구간거리(m)  정류장_순서
0   100100085  116000195         0.0       1
1   100100085  116000099       299.0       2
2   100100085  116000097       542.0       3
3   100100085  116000095       264.0       4
4   100100085  116000093       179.0       5
..        ...        ...         ...     ...
65  100100085  116000156       341.0      65
66  100100085  116000094       264.0      66
67  100100085  116000096       190.0      67
68  100100085  116000098       623.0      68
69  100100085  116000194       261.0      69

[70 rows x 4 columns]

In [ ]:
trip_speed_target = pd.merge(trip_time_target_mean, route_node_master, left_on=['도착_정류장_ID', '도착_정류장_순서'], right_on=['정류장_ID', '정류장_순서'])
trip_speed_target

,노선_ID_x,출발_정류장_ID,도착_정류장_ID,출발_정류장_순서,도착_정류장_순서,운행시간_출근,운행시간_퇴근,노선_ID_y,정류장_ID,링크_구간거리(m),정류장_순서
0,100100085,100000025,101000037,36,37,184.544686,192.614734,100100085,101000037,825.0,37
1,100100085,100000025,101000038,36,37,205.892857,209.464286,232000047,101000038,940.0,37
2,100100085,100000025,101000038,36,37,205.892857,209.464286,100100085,101000038,863.0,37
3,100100085,100000380,100000025,35,36,147.715116,156.303488,232000047,100000025,560.0,36
4,100100085,100000380,100000025,35,36,147.715116,156.303488,100100085,100000025,587.0,36
...,...,...,...,...,...,...,...,...,...,...,...
85,100100085,118000008,118000067,44,45,69.145349,67.879070,100100085,118000067,776.0,45
86,100100085,118000067,118000006,45,46,267.162791,321.031395,100100085,118000006,1419.0,46
87,100100085,118000072,118000199,25,26,159.548837,185.067442,100100085,118000199,549.0,26
88,100100085,118000076,118000072,24,25,259.856977,256.618605,100100085,118000072,1025.0,25
89,100100085,118000199,113000001,26,27,343.882558,323.619767,100100085,113000001,2429.0,27

In [ ]:
trip_speed_target_commute = trip_time_target_commute.loc[:, ['기준_날짜', '노선_ID', '출발_정류장_ID', '도착_정류장_ID', '도착_정류장_순서']].copy()
trip_speed_target_commute['운행속도_출근'] = trip_time_target_commute['링크_구간거리(m)'] / trip_time_target_commute['운행시간_출근'] * (3600 / 1000)
trip_speed_target_commute['운행속도_퇴근'] = trip_time_target_commute['링크_구간거리(m)'] / trip_time_target_commute['운행시간_퇴근'] * (3600 / 1000)
trip_speed_target_commute

## 3) master 분석

In [ ]:
# 600번 버스
# 서소문(37번), 시청.서소문청사(37번) -> 정류장_순서 중복
route_node_600_id = route_master.loc[route_master['노선_명칭'] == '600', '노선_ID'].values[0]
route_node_600 = route_node_master.loc[route_node_master['노선_ID'] == route_node_600_id].copy()
route_node_600.sort_values(by='정류장_순서', ignore_index=True, inplace=True)

route_node_600 = pd.merge(route_node_600, station_master, on='정류장_ID')
route_node_600

,노선_ID,정류장_ID,링크_구간거리(m),정류장_순서,정류장_명칭,정류장_유형,정류장_번호,위도,경도,버스도착정보안내기_설치_여부
0,100100085,116000195,0.0,1,온수동종점,일반차로,17290.0,126.821379,37.491922,미설치
1,100100085,116000099,299.0,2,온수역,일반차로,17185.0,126.824401,37.492777,미설치
2,100100085,116000097,542.0,3,우신고등학교,일반차로,17183.0,126.830451,37.493063,미설치
3,100100085,116000095,264.0,4,궁동청소년문화의집.구로검사소,일반차로,17181.0,126.833419,37.493088,미설치
4,100100085,116000093,179.0,5,연세중앙교회,일반차로,17179.0,126.835423,37.493108,미설치
...,...,...,...,...,...,...,...,...,...,...
65,100100085,116000156,341.0,65,연세중앙교회,일반차로,17248.0,126.835981,37.493303,미설치
66,100100085,116000094,264.0,66,궁동청소년문화의집,일반차로,17180.0,126.832986,37.493272,설치
67,100100085,116000096,190.0,67,우신고등학교,일반차로,17182.0,126.830847,37.493300,미설치
68,100100085,116000098,623.0,68,온수역,일반차로,17184.0,126.823823,37.492827,설치
69,100100085,116000194,261.0,69,온수동종점,일반차로,17289.0,126.821273,37.491642,미설치

# 4.속도 구하기

## 1) 간단한 계산

In [ ]:
route_target_nm = '600'
route_target_id = route_master.loc[route_master['노선_명칭'] == route_target_nm, '노선_ID'].values[0]

trip_time_1 = trip_time_all.loc[trip_time_all['노선_ID'] == route_target_id].copy()

# 날짜별 정류장구간별 운행시간_출근, 운행시간_퇴근 평균운행시간 계산
trip_time_1['운행시간_출근'] = trip_time_1.loc[:, ['운행시간_07시', '운행시간_08시']].mean(axis=1)
trip_time_1['운행시간_퇴근'] = trip_time_1.loc[:, ['운행시간_17시', '운행시간_18시']].mean(axis=1)
trip_time_1

# 전구간날짜 평균
trip_time_mean_1 = trip_time1.groupby(by=['노선_ID', '출발_정류장_ID', '도착_정류장_ID', '출발_정류장_순서', '도착_정류장_순서'], as_index=False)[['운행시간_출근', '운행시간_퇴근']].mean()
trip_time_mean_1.sort_values(by='도착_정류장_순서', ignore_index=True, inplace=True)
trip_time_mean_1.head()

,노선_ID,출발_정류장_ID,도착_정류장_ID,출발_정류장_순서,도착_정류장_순서,운행시간_출근,운행시간_퇴근
0,100100085,116000195,116000099,1,2,80.624419,78.875581
1,100100085,116000099,116000097,2,3,101.909302,92.879070
2,100100085,116000097,116000095,3,4,52.827907,52.275581
3,100100085,116000095,116000093,4,5,40.956977,45.147674
4,100100085,116000093,116000448,5,6,227.572093,198.677907

In [ ]:
route_node_target = route_node_master.loc[route_node_master['노선_ID'] == route_target_id]

trip_speed_1 = pd.merge(route_node_target, trip_time_mean_1, left_on=['노선_ID', '정류장_ID', '정류장_순서'], right_on=['노선_ID', '도착_정류장_ID', '도착_정류장_순서'], how='left')
trip_speed_1.sort_values(by='정류장_순서', ignore_index=True, inplace=True)

trip_speed_1.iloc[0, 5] = trip_speed_1.iloc[1, 4]
trip_speed_1.iloc[0, 7] = trip_speed_1.iloc[1, 6]

trip_speed_1['운행속도_출근'] = trip_speed_1['링크_구간거리(m)'] / trip_speed_1['운행시간_출근'] * (3600 / 1000)
trip_speed_1['운행속도_퇴근'] = trip_speed_1['링크_구간거리(m)'] / trip_speed_1['운행시간_퇴근'] * (3600 / 1000)
trip_speed_1.iloc[0, 10] = 0.0
trip_speed_1.iloc[0, 11] = 0.0
trip_speed_1

,노선_ID,정류장_ID,링크_구간거리(m),정류장_순서,출발_정류장_ID,도착_정류장_ID,출발_정류장_순서,도착_정류장_순서,운행시간_출근,운행시간_퇴근,운행속도_출근,운행속도_퇴근
0,100100085,116000195,0.0,1,NaN,116000195.0,NaN,1.0,NaN,NaN,0.000000,0.000000
1,100100085,116000099,299.0,2,116000195.0,116000099.0,1.0,2.0,80.624419,78.875581,13.350794,13.646809
2,100100085,116000097,542.0,3,116000099.0,116000097.0,2.0,3.0,101.909302,92.879070,19.146437,21.007962
3,100100085,116000095,264.0,4,116000097.0,116000095.0,3.0,4.0,52.827907,52.275581,17.990491,18.180573
4,100100085,116000093,179.0,5,116000095.0,116000093.0,4.0,5.0,40.956977,45.147674,15.733583,14.273160
...,...,...,...,...,...,...,...,...,...,...,...,...
66,100100085,116000156,341.0,65,116000088.0,116000156.0,64.0,65.0,76.601163,78.241860,16.025866,15.689811
67,100100085,116000094,264.0,66,116000156.0,116000094.0,65.0,66.0,59.483721,58.430233,15.977481,16.265552
68,100100085,116000096,190.0,67,116000094.0,116000096.0,66.0,67.0,60.781395,56.273256,11.253444,12.154975
69,100100085,116000098,623.0,68,116000096.0,116000098.0,67.0,68.0,139.097674,130.358140,16.123922,17.204910
70,100100085,116000194,261.0,69,116000098.0,116000194.0,68.0,69.0,37.011628,39.316279,25.386616,23.898498

## 2) 복잡한 계산

In [ ]:
trip_time_2.columns

Index(['기준_날짜', '노선_ID', '출발_정류장_ID', '도착_정류장_ID', '운행시간', '운행시간_00시',
       '운행시간_01시', '운행시간_02시', '운행시간_03시', '운행시간_04시', '운행시간_05시', '운행시간_06시',
       '운행시간_07시', '운행시간_08시', '운행시간_09시', '운행시간_10시', '운행시간_11시', '운행시간_12시',
       '운행시간_13시', '운행시간_14시', '운행시간_15시', '운행시간_16시', '운행시간_17시', '운행시간_18시',
       '운행시간_19시', '운행시간_20시', '운행시간_21시', '운행시간_22시', '운행시간_23시', '출발_정류장_순서',
       '도착_정류장_순서'],
      dtype='object')

In [ ]:
trip_turn_all.columns

Index(['기준_날짜', '노선_ID', '정류장_ID', '버스운행횟수', '버스운행횟수_00시', '버스운행횟수_01시',
       '버스운행횟수_02시', '버스운행횟수_03시', '버스운행횟수_04시', '버스운행횟수_05시', '버스운행횟수_06시',
       '버스운행횟수_07시', '버스운행횟수_08시', '버스운행횟수_09시', '버스운행횟수_10시', '버스운행횟수_11시',
       '버스운행횟수_12시', '버스운행횟수_13시', '버스운행횟수_14시', '버스운행횟수_15시', '버스운행횟수_16시',
       '버스운행횟수_17시', '버스운행횟수_18시', '버스운행횟수_19시', '버스운행횟수_20시', '버스운행횟수_21시',
       '버스운행횟수_22시', '버스운행횟수_23시', '정류장_순서', '노선명', '정류장_ARS', '정류장명',
       '버스운행횟수_일'],
      dtype='object')

In [ ]:
route_target_nm = '600'
route_target_id = route_master.loc[route_master['노선_명칭'] == route_target_nm, '노선_ID'].values[0]

trip_time_2 = trip_time_all.loc[trip_time_all['노선_ID'] == route_target_id, ['기준_날짜', '노선_ID', '출발_정류장_ID', '도착_정류장_ID', 
                                                                             '운행시간_07시', '운행시간_08시', '운행시간_17시', '운행시간_18시',
                                                                             '출발_정류장_순서', '도착_정류장_순서']].copy()

trip_turn_2 = trip_turn_all.loc[trip_turn_all['노선_ID'] == route_target_id, ['기준_날짜', '노선_ID', '정류장_ID', 
                                                                             '버스운행횟수_07시', '버스운행횟수_08시', '버스운행횟수_17시', '버스운행횟수_18시']].copy()
trip_turn_2.dropna(inplace=True)

In [ ]:
trip_time_2.shape, trip_turn_2.shape

((10336, 10), (7584, 7))

In [ ]:
trip_time_2[trip_time_2.duplicated(['기준_날짜', '도착_정류장_ID'], keep=False)].sort_values(by=['기준_날짜', '도착_정류장_ID'])

,기준_날짜,노선_ID,출발_정류장_ID,도착_정류장_ID,운행시간_07시,운행시간_08시,운행시간_17시,운행시간_18시,출발_정류장_순서,도착_정류장_순서
10292,20221031,100100085,100000380,100000025,144.0,189.0,162.0,155.0,35,36
14267,20221031,100100085,100000380,100000025,144.0,189.0,162.0,155.0,35,36
10415,20221031,100100085,101000304,100000380,108.0,126.0,105.0,121.0,34,35
14390,20221031,100100085,101000304,100000380,108.0,126.0,105.0,121.0,34,35
10344,20221031,100100085,100000025,101000037,166.0,185.0,202.0,197.0,36,37
...,...,...,...,...,...,...,...,...,...,...
647723,20230106,100100085,118000076,118000072,281.0,286.0,339.0,305.0,24,25
643839,20230106,100100085,118000005,118000076,290.0,334.0,249.0,232.0,23,24
647759,20230106,100100085,118000005,118000076,290.0,334.0,249.0,232.0,23,24
643785,20230106,100100085,118000072,118000199,168.0,193.0,200.0,176.0,25,26
647704,20230106,100100085,118000072,118000199,168.0,193.0,200.0,176.0,25,26

In [ ]:
trip_speed_2 = pd.merge(trip_time_2, trip_turn_2, left_on=['기준_날짜', '노선_ID', '도착_정류장_ID'], right_on=['기준_날짜', '노선_ID', '정류장_ID'])
trip_speed_2

,기준_날짜,노선_ID,출발_정류장_ID,도착_정류장_ID,운행시간_07시,운행시간_08시,운행시간_17시,운행시간_18시,출발_정류장_순서,도착_정류장_순서,정류장_ID,버스운행횟수_07시,버스운행횟수_08시,버스운행횟수_17시,버스운행횟수_18시
0,20230109,100100085,113000004,113000002,123.0,117.0,107.0,120.0,42,43,113000002.0,8.0,8.0,7.0,7.0
1,20230109,100100085,112000430,101000304,144.0,134.0,129.0,148.0,33,34,101000304.0,7.0,8.0,7.0,8.0
2,20230109,100100085,116000003,116000005,158.0,192.0,216.0,293.0,50,51,116000005.0,7.0,9.0,8.0,6.0
3,20230109,100100085,116000611,116000445,75.0,96.0,73.0,76.0,61,62,116000445.0,8.0,8.0,7.0,7.0
4,20230109,100100085,116000288,116000613,111.0,86.0,118.0,89.0,9,10,116000613.0,8.0,8.0,7.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9645,20221021,100100085,113000474,112000430,92.0,97.0,116.0,121.0,32,33,112000430.0,15.0,16.0,13.0,15.0
9646,20221021,100100085,116000288,116000613,99.0,106.0,96.0,94.0,9,10,116000613.0,16.0,16.0,14.0,16.0
9647,20221021,100100085,113000008,113000006,103.0,85.0,108.0,126.0,40,41,113000006.0,16.0,14.0,14.0,13.0
9648,20221021,100100085,116000611,116000445,82.0,78.0,76.0,87.0,61,62,116000445.0,18.0,15.0,15.0,13.0
9649,20221021,100100085,116000005,116000007,160.0,171.0,195.0,197.0,51,52,116000007.0,16.0,14.0,14.0,11.0